<div class="container mt-3">
    <div class="row">
      <div class="col">
        <h2>Courses</h2>
        <table class="table">
          <thead>
            <tr>
              <th> </th>
              <th>Course Name</th>
              <th>Location</th>
              <th>Start</th>
              <th>Length</th>
              <th>Price</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses" [ngbTooltip]="course.CourseDescription" tooltipClass="ttc">
              <td>
                <i class="fas fa-edit text-primary" (click)="editCourse(course._id)" aria-hidden="true" title="Edit"></i>
                <i class="fas fa-trash text-danger" (click)="deleteCourse(course._id)" aria-hidden="true" title="Delete"></i>
              </td>
            
              <td>{{ course.CourseName }}</td>
              <td>{{ course.Country }}, {{ course.City }}, {{ course.University }}</td>
              <td>{{ course.StartDate }}</td>
              <td>{{ getLength(course._id) }}</td>
              <td>{{ getCurrencySymbol(course.Currency) }} {{ course.Price }}</td>
            </tr>

          </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="loadCourses(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
              <a class="page-link" (click)="loadCourses(page)">{{ page }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="loadCourses(currentPage + 1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  